<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['']">Minha Loja Virtual</a>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Buscar produto..."
          aria-label="Filtro"
        />
        &nbsp;&nbsp;
        <div class="dropdown">
          <button
            class="btn btn-dark dropdown-toggle"
            type="button"
            id="dropdownCarrinho"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-cart"></i>
            <span class="badge rounded-pill bg-primary">
              {{quantidade}}
            </span>
          </button>
          <ul
            class="dropdown-menu dropdown-menu-dark dropdown-menu-end"
            aria-labelledby="dropdownCarrinho"
          >
            <li class="dropdown-item" *ngIf="quantidade === 0">Carrinho vazio.</li>
            <li class="dropdown-item" *ngFor="let item of itens">
              {{ item.produto.preco | currency: "BRL" }} ({{ item.quantidade }}x)
              - {{ item.produto.nome.substr(0, 20) }}...
            </li>
          </ul>
        </div>
      </form>
    </div>
</nav>
<router-outlet></router-outlet>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand footer" >Treinamento em Angular</a>
  </div>
</nav>